

html {
    font-size: 16px;
}

h1.hed {
    max-width: 800px;
    margin: 0 auto;
}
.idyll-root {
    display: grid;
    grid-template-columns:  1fr 20rem 20rem 1fr;
}

.idyll-root > div:not(.article-header):not(.idyll-text-container) {
    grid-column: 1 / 5;
    margin: 0 auto;
    /* background-color: #efefef; */
    width: 100%;
}

.idyll-graphic {
    text-align: left;
}
.appendix-graphic-plex {
    grid-template-columns:  1fr 1fr;
    display: grid;
}

p {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 300;
    margin-top: 2em;
}

img {
    max-width: 100vw;
    max-height: 100%;
    width: 150%;
    margin: 6em -25% 2em -25%;
}

.appendix-graphic-holder {
    grid-column: auto;
}

.appendix-graphic-holder img {
    max-width: 600px;
    width: 100%;
    margin: 4em 0.5em 0 0.5em;
}

 .article-header {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
  }

.idyll-root::before {
    display: none;
    content: none;
}

.article-header {
    grid-column: 1 / 5;
}

.idyll-text-container {
    grid-column: 2 / 4;
}

.gridyll-control-container {
    font-size: small;
  }

input, select {
margin: auto;
height: auto;
}
.gridyll-control-container > div {
display: flex;
font-size: small;
max-width: 300px;
padding: 1em;
font-weight: 300;
margin-top: 1em;
border-left: solid 1px #999;
align-items: center;
justify-content: space-between;
}

.aside {
    display: block;
    position: absolute;
    width: 300px;
    right: calc((10vw + 600px + 5px) / -2);
    font-size: small;
    color: #999;
}



@media (max-width: 885px) {

    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 40rem) {
     .idyll-root {
        grid-template-columns:  1fr 1fr 1fr 1fr;
    }
    .idyll-text-container {
        grid-column: 1 / 5;
    }

    html {
        font-size: 10px;
    }

    .appendix-graphic-plex {
        grid-template-columns:  1fr 1fr;
    }
}