

html {
    font-size: 16px;
}

.idyll-root {
    display: grid;
    grid-template-columns:  1fr 20rem 20rem 1fr;
}

.idyll-root > div:not(.article-header):not(.idyll-text-container) {
    grid-column: 1 / 5;
    margin: 0 auto;
    /* background-color: #efefef; */
    width: 100%;
}

.appendix-graphic-plex {
    grid-template-columns:  1fr 1fr 1fr 1fr;
    display: grid;
}

.appendix-graphic-holder {
    grid-column: auto;
}

 .article-header {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
  }

.idyll-root::before {
    display: none;
    content: none;
}

.article-header {
    grid-column: 1 / 5;
}

.idyll-text-container {
    grid-column: 2 / 4;
}

.aside {
    display: block;
    position: absolute;
    width: 300px;
    right: calc((10vw + 600px + 5px) / -2);
    font-size: small;
    color: #999;
}

@media (max-width: 40rem) {
     .idyll-root {
        grid-template-columns:  1fr 1fr 1fr 1fr;
    }
    .idyll-text-container {
        grid-column: 1 / 5;
    }

    html {
        font-size: 10px;
    }

    .appendix-graphic-plex {
        grid-template-columns:  1fr 1fr;
    }
}