.article-header {
  padding-left: 0;
}

.idyll-slide-graphic img {
  max-width: 100%;
  max-height: 100%;
}

.idyll-slide-graphic {
  height: calc(100vh - 150px - 2em);
  width: calc(100% - 4em);
  margin: 150px 2em 2em 2em;
}

.idyll-graphic {
  text-align: left;
}
.slide {
  padding: 0 1em;
}

.control-details {
  background: rgba(255, 255, 255, 0.67);
  font-size: small;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  max-width: 250px;
}

.control-details[open] {
  border: solid 1px #999;
}

.idyll-slide-graphic > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.idyll-slide-graphic > div > div {
  height: 100%;
  flex: 1;
}
.idyll-slide-graphic > div > div > div {
  height: 100%;
}

.idyll-slide-graphic div {
  max-height: 100%;
}
.idyll-slide-graphic svg {
  max-height: 100%;
}

.idyll-text-container {
  max-width: 100%;
  margin-right: 50px;
  margin-top: 1em;
  font-size: 22px;
  font-weight: 300;
}

svg {
  /* display: block; */
}

input, select {
  margin: auto;
  height: auto;
}