

html {
    font-size: 16px;
  }
  
  .idyll-root, .idyll-scroll {
    display: grid;
    grid-template-columns:  1fr 20rem 20rem 1fr;
  }
  
  .idyll-root > div:not(.article-header):not(.idyll-text-container) {
    grid-column: 1 / 5;
    margin: 0 auto;
    /* background-color: #efefef; */
    width: 100%;
  }
  
  .idyll-root::before {
    display: none;
    content: none;
  }
  
  .article-header {
    grid-column: 1 / 5;
  }
  
  .idyll-text-container {
    grid-column: 2 / 4;
  }
  
  .idyll-scroll {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
  }
  .idyll-scroll  .idyll-text-container, .idyll-scroll-text .idyll-step {
    grid-column: 1 / 3;
    width: 100%;
    max-width: 100%;
  }
  .idyll-scroll  .idyll-scroll-graphic {
    grid-column: 3 / 5;
    z-index: auto !important;
  }
  .idyll-scroll  .idyll-scroll-graphic > div {
    width: auto !important;
  }
  
  @media (max-width: 40rem) {
     .idyll-root {
        grid-template-columns:  auto 15rem 15rem auto;
    }   
  
    html {
        font-size: 10px;
    }
  }