

  html {
    font-size: 16px;
  }

  .idyll-root, .idyll-scroll {
    display: grid;
    grid-template-columns:  1fr 20rem 20rem 1fr;
    gap: 0 1em;
  }

  .idyll-graphic {
    text-align: left;
  }

  h1.hed {
    max-width: 800px;
    margin: 0 auto;
  }

  .idyll-root > div:not(.article-header):not(.idyll-text-container) {
    grid-column: 1 / 5;
    margin: 0 auto;
    /* background-color: #efefef; */
    width: 100%;
  }

  .idyll-root::before {
    display: none;
    content: none;
  }

  input, select {
    margin: 0;
    height: auto;
  }

  .article-header {
    grid-column: 1 / 5;
  }

  .idyll-text-container {
    grid-column: 2 / 4;
  }

  .idyll-scroll {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
  }

  .idyll-scroll.full-width  .idyll-text-container, .idyll-scroll-text .idyll-step {
    grid-column: 2 / 4;
    width: 100%;
    max-width: 100%;
    z-index: 1;
  }
  .idyll-scroll  .idyll-text-container, .idyll-scroll-text .idyll-step {
    grid-column: 1 / 3;
    width: 100%;
    max-width: 100%;
  }


  .idyll-scroll  .idyll-scroll-graphic {
    grid-column: 3 / 5;
    z-index: auto !important;
  }


  .idyll-scroll.full-width  .idyll-scroll-graphic {
    grid-column: 1 / 5;
  }
  .idyll-scroll  .idyll-scroll-graphic > div {
    width: auto !important;
  }

  .idyll-scroll.graphic-anchor-bottom  .idyll-scroll-graphic > div {
    top: auto !important;
    transform: none !important;
    bottom: 2em !important;
  }
  .idyll-scroll.graphic-anchor-top  .idyll-scroll-graphic > div {
    top: 2em !important;
    transform: none !important;
    bottom: auto !important;
  }


  .idyll-scroll-graphic img {
    max-width: 100%;
    max-height: 100%;
  }

  .idyll-scroll-text .idyll-step {
    border: solid 1px #ddd;
    box-shadow: #ddd 2px 2px 3px;
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
  }

  p {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 2em;
  }

  .idyll-scroll-text .idyll-step p {
    margin-bottom: 1em;
  }

  .idyll-scroll-text .idyll-step p:last-of-type {
    margin-bottom: 0;
  }

  .gridyll-control-container {
    font-size: small;
  }

  .gridyll-control-container > div {
    display: flex;
    font-size: small;
    max-width: 300px;
    padding: 1em;
    font-weight: 300;
    margin-top: 1em;
    border-left: solid 1px #999;
    align-items: center;
    justify-content: space-between;
  }



  @media (max-width: 40rem) {
    p {
      font-size: 16px;
    }

    .idyll-root {
        grid-template-columns:  auto 15rem 15rem auto;
    }
    .idyll-text-container {
      grid-column: 1 / 5;
    }
    h1.hed {
      max-width: 100%;
    }
    html {
        font-size: 10px;
    }
    .idyll-scroll  .idyll-text-container, .idyll-scroll-text .idyll-step,
    .idyll-scroll.idyll-scroll.full-width  .idyll-text-container {
      grid-column: 1 / 5;
      z-index: 1;
      width: auto;
    }

    .idyll-scroll  .idyll-scroll-graphic {
      grid-column: 1 / 5;
    }

    .gridyll-control-container > div {
      align-items: flex-start;
      flex-direction: column;
    }


  }